<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Gamer Hoard</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <div class="user-card-component">
    <app-user-card />
  </div>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">
    <a routerLink="">
      <button mat-stroked-button class="main-button">
        <mat-icon> home </mat-icon>
        Home
      </button>
    </a>
    <br />
    <a routerLink="lists">
      <button mat-stroked-button class="main-button">
        <mat-icon> list </mat-icon>
        Lists
      </button>
    </a>
    <br />
    <a routerLink="feed">
      <button mat-stroked-button class="main-button">
        <mat-icon> rss_feed </mat-icon>
        Feed
      </button>
    </a>
    <br />
    <a routerLink="friends">
      <button mat-stroked-button class="main-button">
        <mat-icon> face </mat-icon>
        Friends
      </button>
    </a>
    <br />
    <br />
    <br />
    <a routerLink="settings">
      <button mat-stroked-button class="main-button">
        <mat-icon> settings </mat-icon>
        Settings
      </button>
    </a>
  </mat-sidenav>

  <mat-sidenav-content class="main-area">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
