mat-grid-tile {
    background: lightblue;
  }

.image-box{
  width: fit-content;
}

.image-div {
  transition: transform .2s;
}

.image-div:hover {
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25); 
}

.dataView {
  justify-content: center;
}

:host ::ng-deep .p-grid { 
  padding-left: 4%;
  padding-right: 3%;
  align-items: left;
  text-align: left;
} 