<!-- <mat-grid-list cols="6" rowHeight="1:1">
    <mat-grid-tile *ngFor="let game of this.steamCall?.response?.games"><app-game-tile [gameTitle]="game!.name" [imageUrl]="game!.img_icon_url"></app-game-tile></mat-grid-tile>
  </mat-grid-list> -->

  <div class="card">
    <p-dataView #dv [value]="games" layout="grid">
        <ng-template pTemplate="header">
            <div class="flex justify-content-end">
                <p-dataViewLayoutOptions layout="grid"></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-game pTemplate="gridItem" style="justify-content: center;">
            <div>
                <div class="xl:col-1 p-1" style="width: fit-content;">
                    <div class="border-1 surface-border surface-card border-round image-div" style="width: fit-content;">
                        <div class="flex flex-wrap align-items-center justify-content-between gap-2 image-box">
                            <img class="w-100 shadow-2 border-round" [src]="'//images.igdb.com/igdb/image/upload/t_cover_big/' + game.covers.value.imageId + '.jpg'" [alt]="game.name"/>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>