<!-- <mat-grid-list cols="6" rowHeight="1:1">
    <mat-grid-tile *ngFor="let game of this.steamCall?.response?.games"><app-game-tile [gameTitle]="game!.name" [imageUrl]="game!.img_icon_url"></app-game-tile></mat-grid-tile>
  </mat-grid-list> -->

  <div class="card">
    <p-dataView #dv [value]="games" [paginator]="true" [rows]="30" [loading]="loading" layout="grid" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords">
        <ng-template pTemplate="header">
            <div class="flex justify-content-end">
                <span class="p-input-icon-left mb-2 md:mb-0" style="margin-right: 86%; width: 10%;">
                    <div>
                        <i class="pi pi-search"></i>
                        <input type="search" pInputText placeholder="Search by Name">
                    </div>
                </span>
                <p-dataViewLayoutOptions layout="grid"></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-game pTemplate="gridItem">
                <div class="xl:col-1 p-1" style="width: fit-content;">
                    <div class="border-1 surface-border surface-card border-round image-div" style="width: fit-content;">
                        <div class="flex flex-wrap align-items-center justify-content-between gap-2 image-box">
                            <img class="w-100 shadow-2 border-round" [src]="'https://cdn.cloudflare.steamstatic.com/steam/apps/' + game.steamAppId + '/library_600x900.jpg'" height="350px" width="225px" [alt]="game.name"/>
                        </div>
                    </div>
                </div>
        </ng-template>
    </p-dataView>
</div>